.wrapper {
  display: grid;
  place-items: left;
  height: 100vh;
}

.wrapper .btn-area {
  position: relative;
  height: 9vh;
  width: 33vh;
  border-radius: 50px;
  margin-top: 30px;
  overflow: hidden;
}

.wrapper .btn-area .btn-animation {
  position: absolute;
  height: 100%;
  width: 350%;
  right: -100%;
  background-image: linear-gradient(135deg, #252525, #777879, #1b1b1b, #424242);
  transition: all 0.8s;
  border-radius: 50px;
}

.wrapper .btn-area:hover .btn-animation {
  right: 0;
}
.btn-area:hover button{
  cursor: none ;
}

.wrapper .btn-area button {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 2.7vh;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
}

body {
  background-image: url(bg.jpg);
  cursor: hidden;
  display: grid;
  place-items: center;
  min-height: 95vh;
  background-size: cover;
  background-position: center center;
}

.box-area {
  color: #070707;
  height: 250px;
  width: 175px;
}

.box-area .box {
height: 100%;
width: 100%;
text-align: center;
  margin: 40px;
  flex: 0 1 300px;
  border-radius: 20px;
  background-color: #232323;
  box-shadow: 0 3px 30px rgb(109, 109, 109);
  transition: all 0.3s ease;
  border: rgb(126, 126, 126) 1px solid;
}

 .box-area .box:hover{
  box-shadow: 0 5px 10px aqua;
  background-color:red ;
  transform: scale(1.02);
}

.img-box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 8% auto;
}

.box h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 0;
  color: white;

}

.box p {
  font-family: 'Times New Roman';
  font-size: 10px;
  color: white;
}

.socials {
  margin-top: 30px;
}

.socials i {
  margin: 0 15px;
  font-size: 0.9rem;
  transition: all 0.15s ease;

}

.socials i:hover {
  transform: scale(1.5);
  }

.rightside .image {
  z-index: -1;
  top: -130px;
  right: -220px;
  position:relative;
}

.rightside {
  top: 45%;
  right: -10%;
  display: flex;
  position: relative;
}

@media screen and (max-width: 480px) {
  .rightside {
    right: 20px;
    position: relative;
  }
}

/* courser */

.courser-dot {
  width: 5px;
  height: 5px;
  background-color: #fff;
}

.courser-outline {
  width: 30px;
  height: 30px;
  border: #fff 1px solid;
}

.courser-dot,
.courser-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}